{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Nueva inscripción
{% endblock %}

{% block content %}
  <h1 class="h4 mb-4">Registrar nueva inscripción</h1>

  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {% bootstrap_form form layout='vertical' %}
    <button type="submit" class="btn btn-primary">Subir</button>
  </form>
  {% include 'selector-cascada.html' with id_parroquia='id_parroquia_tutor' id_canton='id_canton_tutor' %}
  {% include 'autocompletar-barrios.html' %}
{% endblock %}
