{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  Nueva inscripción
{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li class="alert alert-{{ message.tags|default:'info' }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <h1 class="h4 mb-4">Registrar nueva inscripción</h1>

  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {% bootstrap_form form layout='vertical' %}
    <button type="submit" class="btn btn-primary">Subir</button>
  </form>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/canton_parroquia.js' %}"></script>
  <script>
    $(document).ready(function () {
      const url = "{% url 'campana:listar_canton_parroquia' %}"
      actualizarSelectorCantonParroquia('id_canton_tutor', 'id_parroquia_tutor', url)
    })
  </script>
  <script type="module">
    import Autocomplete from '/static/js/autocomplete.js'
    new Autocomplete(document.getElementById('id_barrio_tutor'), {
      liveServer: true,
      server: '/inscripcion/barrios/',
      serverParams: { q: 'typed' },
      valueField: 'id',
      labelField: 'title',
      highlightTyped: true
    })
  </script>
{% endblock %}
