{% load custom_filters %}
{% load django_bootstrap5 %}

<div class="table-responsive mb-2">
  <table class="table table-bordered table-striped table-hover align-middle text-nowrap">
    <thead class="table-light">
      <tr>
        <th>Nº</th>
        <th>Nombre Tutor</th>
        <th>Registrar</th>
        <th>Barrio</th>
        <th>Parroquia</th>
        <th>Teléfono</th>
        <th>Whatsapp</th>
        <th>Horario</th>
        <th>Inscrito por</th>
      </tr>
    </thead>
    <tbody>
      {% for n_cupos, inscripcion, cupos in inscripciones %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ inscripcion.nombres_tutor }}</td>
          <td>
            <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Vertical button group">
              {% for n_cupo in cupos %}
                {% if pendientes and n_cupo > inscripcion.cupos_registrados %}
                  {% if inscripcion.campana.estado == 'AC' %}
                    <a href="{% url 'registro:nuevo' inscripcion.campana.id inscripcion.id %}" class="btn btn-primary"><i class="bi bi-journal-plus"></i> Registrar {{ n_cupo }} / {{ inscripcion.cupos_totales }}</a>
                  {% else%}
                    <span class="text-warning">No activo</span>
                  {% endif%}
                {% else %}
                  <span class="text-success">Registrado {{ n_cupo }} / {{ inscripcion.cupos_totales }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </td>
          <td>{{ inscripcion.barrio_tutor }}</td>
          <td>{{ inscripcion.get_parroquia_tutor_display }}</td>
          <td>{{ inscripcion.numero_telefono_tutor|stringformat:'010d' }}</td>
          <td>
            {% if inscripcion.numero_telefono_tutor and inscripcion.numero_telefono_tutor|es_numero_con_whatsapp %}
              <a href="https://wa.me/593{{ inscripcion.numero_telefono_tutor }}" target="_blank" class="btn btn-success btn-sm"><i class="bi bi-whatsapp"></i> Mensajear</a>
            {% else %}
              <span class="text-muted">No tiene Whatsapp</span>
            {% endif %}
          </td>
          <td>{{ inscripcion.get_horario_display }}</td>
          <td>{{ inscripcion.usuario.username }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9" class="text-center">No hay {{ titulo|lower }}.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>