{% load static %}

<div class="certificado">
  <div class="certificado-title">Certificado Esterilización</div>

  <div class="certificado-details">
    <div class="row">
      <div class="col-sm-8">
        <strong>Fecha:</strong> {{ registro.fecha_registro|date:'d/m/Y' }}
      </div>
      <div class="col-sm-4 text-end">
        <strong>N°:</strong> {{ registro.numero_turno }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <strong>Nombre:</strong> {{ registro.nombre }}
      </div>
      <div class="col-sm-2">
        <strong>Perro</strong>
      </div>
      <div class="col-sm-1">
        {% if registro.especie == '🐕' %}
          ✅
        {% else %}
          ☐
        {% endif %}
      </div>
      <div class="col-sm-2">
        <strong>Gato</strong>
      </div>
      <div class="col-sm-1">
        {% if registro.especie == '🐈' %}
          ✅
        {% else %}
          ☐
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <strong>Peso:</strong> {{ registro.peso }} Kg
      </div>
      <div class="col-sm-2">
        <strong>Macho</strong>
      </div>
      <div class="col-sm-1">
        {% if registro.sexo == '♂️' %}
          ✅
        {% else %}
          ☐
        {% endif %}
      </div>
      <div class="col-sm-2">
        <strong>Hembra</strong>
      </div>
      <div class="col-sm-1">
        {% if registro.sexo == '♀️' %}
          ✅
        {% else %}
          ☐
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Raza:</strong> {{ registro.raza_mascota }} &nbsp;&nbsp; <strong>Edad:</strong> {% include 'registro/edad.html' with edad_anos=registro.edad_anos edad_meses=registro.edad_meses %}
      </div>
    </div>
    <div class="row">
    </div>

    <div class="row g-2">
      <div class="col-sm-8 mb-2">
        <strong>Responsable:</strong>
        <span>{{ registro.nombres_tutor }}</span>
      </div>
    </div>
    <div class="col-sm-12 g-2 redes-sociales">
      <i class="bi bi-tiktok"></i> <i class="bi bi-instagram"></i>: @happypaws.pillaro
      <i class="bi bi-facebook"></i> <i class="bi bi-youtube"></i>: Happy Paws Píllaro
    </div>
  </div>
</div>
