{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Ingresar un nuevo registro
{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li class="alert alert-{{ message.tags|default:'info' }}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Ingresar registro</button>
  </form>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Volver</a>
{% endblock %}
