{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Ingresar un nuevo registro
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Ingresar registro</button>
  </form>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Volver</a>
{% endblock %}
{% block extra_body %}
  {% include 'selector-cascada.html' with id_parroquia='id_parroquia_tutor' id_canton='id_canton_tutor' %}
  <script type="module">
    import Autocomplete from '/static/js/autocomplete.js'
    new Autocomplete(document.getElementById('id_raza_mascota'), {
      liveServer: true,
      server: '/registro/razas/',
      serverParams: { q: 'typed' },
      valueField: 'id',
      labelField: 'title',
      highlightTyped: true
    })
  </script>
  {% include 'autocompletar-barrios.html' %}
{% endblock %}
