<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Mascotas Campañas de Esterilización Bajo Costo</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/happypaws.ico' %}" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
      <h2 class="text-center mb-4">Lista de Mascotas Registradas</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-sm">
          <thead class="table-light">
            <tr>
              <th>No.</th>
              <th>Fecha</th>
              <th>Origen</th>
              <th>Foto</th>
              <th>Nombre Tutor</th>
              <th>Especie</th>
              <th>Peso(Kg)</th>
              <th>ID</th>
              <th>Vulnerable</th>
              <th>Sexo</th>
              <th>Edad</th>
              <th>Observaciones</th>
              <th>Estado fisiológico</th>
              <th>Premed</th>
              <th>Anes</th>
              <th>Entregado</th>
            </tr>
          </thead>
          <tbody id="pets-table-body">
            <!-- Rows will be dynamically updated -->
          </tbody>
        </table>
      </div>
    <script>
      function getDefaultPhoto(especie) {
        const defaultPhotos = {
          '🐈': '/static/images/mascotas/gato.png',
          '🐕': '/static/images/mascotas/perro.png'
        }
        return defaultPhotos[especie.toLowerCase()]
      }
      function fetchPets() {
        $.ajax({
          url: window.location.href,
          dataType: 'json'
        }).done(function (data) {
          const $tableBody = $('#pets-table-body')
          $tableBody.empty()
          $.each(data.registros, function (_, pet) {
            const $row = $('<tr>')
            if (pet.sexo === '♂️') $row.addClass('table-info')
            const date = new Date(pet.fecha_registro)
            const formattedDate = [String(date.getDate()).padStart(2, '0'), String(date.getMonth() + 1).padStart(2, '0'), date.getFullYear()].join('/')
            $row.append($('<td>').text(pet.numero_turno))
            $row.append($('<td>').text(formattedDate))
            $row.append($('<td>').text('C'))
            const $img = $('<img>')
              .attr('src', pet.foto === '' ? getDefaultPhoto(pet.especie) : `/../../media/${pet.foto}`)
              .attr('alt', `Foto de ${pet.nombre}`)
              .addClass('imagen-mascotas')
            $row.append($('<td>').append($img))
            $row.append($('<td>').text(pet.nombres_tutor))
            $row.append($('<td>').text(pet.especie === '🐈' ? 'Felino' : 'Canino'))
            $row.append($('<td>').text(pet.peso))
            $row.append($('<td>').text(pet.nombre))
            $row.append($('<td>').text(pet.vulnerable === true ? '✅' : ''))
            $row.append($('<td>').text(pet.sexo))
            $row.append($('<td>').text(`${pet.edad_anos}a ${pet.edad_meses}m`))
            $row.append($('<td>').text(pet.observaciones))
            $row.append($('<td>').text(''))
            $row.append($('<td>').text(''))
            $row.append($('<td>').text(''))
            $row.append($('<td>').text(''))
            $tableBody.append($row)
          })
        })
      }
      setInterval(fetchPets, 5000)
      $(document).ready(function () {
        fetchPets()
      })
    </script>
  </body>
</html>
