{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}
  Página de inicio
{% endblock %}
{% block content %}
<div>
  <h3>Nueva</h3>
  </ul>
    {% url 'campana:index' as url_campana %}
    {% bootstrap_button 'Nueva Campaña' button_type='link' href=url_campana size='sm' %}
  <h3>Campañas de esterilización activas</h3>
  {% include 'inicio/campanas-lista.html' with campanas=activas %}

  <h3>Campañas de esterilización pasadas</h3>
  {% include 'inicio/campanas-lista.html' with campanas=pasadas clase="text-muted" %}
</div>
{% endblock %}
