{% load static %}
{% load django_bootstrap5 %}

<div class="recipe">
  <div class="prescription-form">
    <div class="row g-0 h-100">
      <!-- Left side -->
      <div class="col-6 border-end recipe-side">
        <img src="{% static 'images/happypaws.png' %}" alt="Background Logo" class="background-logo" />

        <div class="content-wrapper">
          <div class="professional-info">
            <p class="mb-1">
              <strong>Nombre Profesional:</strong> M.V.Z. Gabriela Zambonino
            </p>
            <p class="mb-1">
              <strong>Dirección:</strong> Bolivar y Gorivar, Esquina - Pillaro
            </p>
            <p class="mb-1">
              <strong>Teléfono:</strong> 0995711805
            </p>
            <p class="mb-1">
              <strong>N° Registro SENESCYT:</strong> 1020-14-1296670
            </p>
            <p class="mb-1">
              <strong>Fecha:</strong> {{ registro.inscripcion.campana.fecha|date:'d/m/Y' }}
            </p>
            <p class="mb-1">
              <strong>Prescripción</strong>
            </p>
          </div>

          <div class="indications small">
            <h6>Indicaciones Generales:</h6>
            <ul>
              <li>En la recuperación, colocar a su mascota en un espacio cerrado, a nivel del suelo, sin contacto directo</li>
              <li>En caso de retiro prematuro de puntos, anomalidades en la herida, consultar inmediatamente al médico veterinario</li>
            </ul>
          </div>
        </div>

        {% include 'registro/recetas/firma.html' %}
      </div>

      <!-- Right side -->
      <div class="col-6 recipe-side">
        <img src="{% static 'images/animalzoo.png' %}" alt="Background Logo" class="background-logo" />

        <div class="content-wrapper">
          <div class="patient-info">
            <p class="mb-1">
              <strong>Nombre:</strong> {{ registro.nombre }}
              <strong>#:</strong> {{ registro.numero_turno }}
              <strong>Peso:</strong> {{ registro.peso }} Kg
            </p>
            <p class="mb-1">
              <strong>Especie:</strong> {{ registro.get_especie_display }}
              <strong>Sexo:</strong> {{ registro.get_sexo_display }}
            </p>
            <p class="mb-1">
              <strong>Propietario:</strong> {{ registro.nombres_tutor }}
            </p>
            <p class="mb-1">
              <strong>Dirección:</strong> {{ registro.barrio_tutor }} / {{ registro.get_parroquia_tutor_display }}
            </p>
            <p class="mb-1">
              <strong>Edad:</strong> {{ registro.edad_anos }} años {{ registro.edad_meses }} meses
            </p>
            <p class="mb-1">
              <strong>Posología:</strong> {{ patient.posology }}
            </p>
          </div>

          <div class="indications small">
            <h6>Indicaciones Finales:</h6>
            <ul>
              <li>En caso de picazón en la herida, usar collar isabelino</li>
              <li>Suministrar la medicina en los horarios indicados</li>
              <li>Retirar los puntos 10 días después de la cirugía</li>
            </ul>
          </div>
        </div>

        {% include 'registro/recetas/firma.html' %}
      </div>
    </div>
  </div>
</div>
