{% if breadcrumbs %}
  <nav class="py-2" style="--bs-breadcrumb-divider: '›';" aria-label="breadcrumb">
    <ol class="breadcrumb m-0 small">
      <li class="breadcrumb-item">
        <a href="{% url 'inicio:ver_campanas' %}" class="text-decoration-none"><i class="bi bi-houses"></i> Campañas</a>
      </li>
      {% for breadcrumb in breadcrumbs %}
        {% if not forloop.last %}
          <li class="breadcrumb-item">
            <a href="{{ breadcrumb.url }}" class="text-decoration-none">{{ breadcrumb.titulo }}</a>
          </li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.titulo }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
