<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>{{ content }}</p>
<h1>Datos Campaña</h1>
<p>
    <strong> Nombre Campaña: </strong> {{ campana.nombre }} </br>
    <strong> Parroquia: </strong> {{ campana.get_parroquia_display }} </br>
    <strong> Barrio: </strong> {{ campana.barrio }} </br>
    <strong> Fecha: </strong> {{ campana.fecha }} </br>
    <strong> Nº animales: </strong> {{ campana.n_animales }} </br>
    <strong> Estado: </strong> {{ campana.get_estado_display }} </br>
    <strong> Número Registrados: </strong> {{ n_registrados }} </br>

    
    Creado por: {{ campana.usuario }} </br>
    {% if request.user.is_authenticated %}
        {%if campana.estado == 'AC' %}
            <a href="{% url "inscripcion:create" campana.id %}">Añadir una nueva inscripcion</a> </br>
        {% endif %}
    {% endif %}
    <a href='{% url 'inscripcion:index' campana.id %}'>Ver todas las inscripciones</a>

</p>
{% endblock %}