<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}
  Todas las campañas
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>{{ content }}</p>
  <h1>Datos Campaña</h1>
  <ul>
    <li>
      <strong>Nombre Campaña:</strong> {{ campana.nombre }}
    </li>
    <li>
      <strong>Parroquia:</strong> {{ campana.get_parroquia_display }}
    </li>
    <li>
      <strong>Barrio:</strong> {{ campana.barrio }}
    </li>
    <li>
      <strong>Fecha:</strong> {{ campana.fecha }}
    </li>
    <li>
      <strong>Nº animales:</strong> {{ campana.n_animales }}
    </li>
    <li>
      <strong>Estado:</strong> {{ campana.get_estado_display }}
    </li>
    <li>
      <strong>Número Registrados:</strong> {{ n_registrados }}
    </li>

    <li>Creado por: {{ campana.usuario }}</li>
    {% if request.user.is_authenticated %}
      {% if campana.estado == 'AC' %}
        <li>
          <a href="{% url 'inscripcion:create' campana.id %}">Añadir una nueva inscripcion</a>
        </li>
      {% endif %}
    {% endif %}
    <li>
      <a href="{% url 'inscripcion:index' campana.id %}">Ver todas las inscripciones</a>
    </li>
    <li>
      <a href="{% url 'registro:lista' campana.id %}">Ver todas los registros</a>
    </li>
  </ul>
{% endblock %}
