{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
	Registrar una nueva campaña
{% endblock %}
{% block content %}
	<form method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% bootstrap_button button_type='submit' content='Registrar Campaña' %}
	</form>
{% endblock %}
{% block domready %}
	{% include 'selector-cascada.html' with id_parroquia='id_parroquia' id_canton='id_canton' %}
{% endblock %}
{% block extra_js %}
	<script src="{% static 'js/canton_parroquia.js' %}"></script>
{% endblock %}
