{% extends 'base.html' %}
{% block title %}
  Acceso
{% endblock %}
{% block content %}
  <h1>Acceso</h1>
  {% if form.errors %}
    <p>Tu nombre de usuario y contraseña no coinciden. Por favor, intente de nuevo.</p>
  {% else %}
    <p>Por favor, use la siguiente forma para acceder:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'cuenta:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p>
        <input type="submit" value="Acceder" />
      </p>
    </form>
  </div>
{% endblock %}
